<nav class="container-fluid">
  <div class="row navigation-container col-xs-12">
    <a class="navbar-item" href="#">
      <img class="logo" alt="Brand" src="/assets/img/xyz-logo.png">
    </a>
    <div class="navbar-item pull-right">
      <div class="menu" {{action 'openMobileMenu'}}>
        <i class="fa fa-bars hamburger" aria-hidden="true"></i>
        <ul>
          <li><a href="#" {{action 'goReports'}}>Reports</a></li>
          <li><a href="#" {{action 'goSettings'}}>Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-menu-container" class={{if isMobileMenuOpen "mobile-menu-container-open" ""}}>
    <div class="mobile-menu-close-container">
      <div class="mobile-menu-close-area-item" {{action "closeMobileMenu"}}>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <div class="mobile-menu-options-container">
      <ul class="mobile-menu-option-list">
        <li><a class="mobile-menu-option" class={{if isReportsOpen "option-active" ""}} {{action 'goReports'}}>Reports</a></li>
        <li><a class="mobile-menu-option" class={{if isSettingsOpen "option-active" ""}} {{action 'goSettings'}}>Settings</a></li>
      </ul>
    </div>
    <div class="mobile-menu-logout-container">
      <button class="mobile-logout-button" {{action "logout"}}>Log Out of XYZ</button>
    </div>
  </div>
</nav>