<div class="container settings-container">
  <div class="row">
    <div class="col-xs-12 display-center title-container">
      <h1 class="title">Account Settings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0 col-md-push-6 form-container">
      <form>
          {{#if isUpdatingName}}
          <div class="form-group">
            <label class="form-label">First Name</label>
            {{input type="text" value=firstName class="form-input" id="firstName"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.firstName}}</span>
            </div>
            <label class="form-label">Last Name</label>
            {{input type="text" value=lastName class="form-input" id="lastName"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.lastName}}</span>
            </div>
            <button class="edit-btn" {{action 'updateName'}}>Save</button>
            <button type="button" class="cancel-btn" {{action 'cancelName'}}>Cancel</button>
          </div>
          {{else}}
            <div class="form-group">
              <label class="form-label">Name</label>
              <label class="form-value">{{fullName}}</label>
              <button class="edit-btn" {{action 'showNameForm'}}>Edit</button>
            </div>
          {{/if}}
          {{#if isUpdatingEmail}}
          <div class="form-group">
            <label class="form-label">Email</label>
            {{input type="email" value=email class="form-input" id="email"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.email}}</span>
            </div>
            <button class="edit-btn" {{action 'updateEmail'}}>Save</button>
            <button type="button" class="cancel-btn" {{action 'cancelEmail'}}>Cancel</button>
          </div>
          {{else}}
            <div class="form-group">
              <label class="form-label">Email</label>
              <label class="form-value">{{email}}</label>
              <button class="edit-btn" {{action 'showEmailForm'}}>Edit</button>
            </div>
          {{/if}}
          {{#if isUpdatingPassword}}
          <div class="form-group">
            <label class="form-label">Enter Current Password</label>
            {{input type="password" value=currentPassword class="form-input" id="password"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.currentPassword}}</span>
            </div>
            <label class="form-label">New Password (8 character minimum )</label>
            {{input type="password" value=newPassword class="form-input" id="newPassword"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.newPassword}}</span>
            </div>
            <label class="form-label">Re-enter New Password</label>
            {{input type="password" value=confirmationPassword class="form-input" id="confirmationPassword"}}
            <div class="input-border">
              <span class="error-msg">{{errorMsgs.confirmationPassword}}</span>
            </div>
            <button class="edit-btn" {{action 'updatePassword'}}>Save</button>
            <button type="button" class="cancel-btn" {{action 'cancelPassword'}}>Cancel</button>
          </div>
          {{else}}
            <div class="form-group">
              <label class="form-label">Password</label>
              {{input type="password" value=password class="form-input password" id="passwordDisabled" disabled="disabled"}}
              <button class="edit-btn" {{action 'showPasswordForm'}}>Edit</button>
            </div>
          {{/if}}
      </form>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-md-pull-6 col-lg-offset-0 company-box-container">
      <div class="row company-box">
          <span class="company-title">The Honest Company, Inc.</span>
          <span class="info">12130 Millennium Dr, Los Angeles, CA 90094</span>
          <span class="info">(888) 862-8818</span>
          <span class="info member">Your Member ID is 
            <span class="id">791509951</span>
          </span>
          <button class="settings-btn logout-btn pull-right">log out of xyz</button>
      </div>
    </div>
  </div>
</div>
{{footer-panel class="dark"}}